<!DOCTYPE html>
    <html lang="en">
    {% extends "layout.html" %}
    <head>
        <h3>{% block title %}Shark Data{% endblock %}</h3>
    </head>
    
    <body class="backcolor"><head>
    
    {% block content %}
    <div class="container-fluid" style="padding-left: 50pt; padding-right: 50pt;">
        <div class="row justify-content-between">
                <div class="col-lg back-box left-box">
                    <h1 class="title">Pitch Predictor</h1>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-10">

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div id="alert" class="alert alert-danger" role="alert" style="display:none; width:100%;">
                                    </div>
                                </div>
                            </div>
                            
                            <form name="learn" action="/funpage" onsubmit="return validateForm()" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="input" class="form-control" name="title" id="title" placeholder="Title" value="{{ input_title }}" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <select class="form-control" id="cat" name="cat">
                                        <option value="Choose a Category">Choose a Category</option>
                                        {% for each in cats %}
                                            <option value="{{each}}" {% if each == input_category %} selected {% endif %}>{{each}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <select type="input" class="form-control" name="gen" id="gen" required>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Mixed">Mixed</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="number" class="form-control" id="val" name="val" placeholder="Valuation (in Dollars)" value="{{ input_valuation }}" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="number" class="form-control" id="ask" name="ask" placeholder="Asking Amount (in Dollars)" value="{{ input_amount }}" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="number" class="form-control" id="stake" name="stake" placeholder="Stake Offered (Percentage)" value="{{ input_exchange }}" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <textarea type="input" class="form-control" id="pitch" name="pitch" placeholder="Enter Pitch" rows="5" required>{{ input_pitch }}</textarea>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <button id="predict" type="submit" class="btn btn-lg btn-primary btn-space" enabled>Predict Outcome</button>
                                </div>
                            </div>
                        </div>
                    
                            <div class="form-group col-md-2">
                                <h3>Previous Entries</h3>
                                <select type="submit" class="form-control" id="userpitches" onchange="optionChanged(this.value)">
                                    <option>New Pitch</option>
                                    {% for each in titles %}
                                            <option value="{{each}}" {% if each == input_title %} selected {% endif %}>{{each}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                    
                    <hr>

                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-1">
                            {% if img == 1 %}
                            <img id="shark" class="img-space" src="{{ url_for('static', filename='images/') }}{{ deal_shark }}"></img>
                            {% endif %}           
                        </div>
                        <div class="col-lg-10">
                            <h3>{{ deal_status }}</h3>
                        </div>
                    </div>
                </div>

                
            </div>
        
        </div>
    {% endblock %}

    {% block endscripts %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% endblock %}

</body>
</html>

