<!DOCTYPE html>
    <html lang="en">
    {% extends "layout.html" %}
    <head>
        <h3>{% block title %}Shark Data{% endblock %}</h3>
    </head>
    
    <body class="backcolor"><head>
    
    {% block content %}
    <div class="container-fluid" style="padding-left: 50pt; padding-right: 50pt;">
        <div class="row justify-content-between">
                <div class="col-lg back-box left-box">
                    <h1 class="title">Fun Visuals</h1>
                    <hr>

                    <h1>Coming Soon!</h1>
                    
                </div>
            </div>
        
    </div>
    {% endblock %}


</body>
</html>