<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
<head>
    <h3>{% block title %}Shark Tank Visuals{% endblock %}</h3>
    {% block script %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endblock %}
</head>

<body class="backcolor">


    {% block content %}
    <div class="container-fluid" style="padding-left: 50pt; padding-right: 50pt;">
        <div class="row justify-content-between">
                <div class="col-lg back-box left-box">
                    <h1 class="title">The Pitches</h1>
                    <hr>
                    <div id="myDiv"></div> 
                </div>
        </div>
    </div>
    

    {% endblock %}

    {% block endscripts %}
    <script src="{{ url_for('static', filename='js/piechart.js') }}"></script>
    {% endblock %}
</body>
</html>