/* giving the body a dark background to better see the bright colored boxes */

.logo-text {
    font-size: 16pt;
}


.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.back-box {
  margin: 10pt;
  margin-top:0pt;
  padding: 15pt;
  background-color:white;
}

.comp-box {
  margin: 10pt;
  margin-bottom: 0pt;
  padding: 15pt;
  background-color:white;
  margin-top: 0pt;
}

.display-img {
  float: left;
  max-width:50%;
  height:auto;
  
}

.right-img {
  max-width:49%;
  height:auto;
  
}

.comp-img {
  max-width:100%;
  height:auto;
  
}

.main-text {
  line-height: 1.8;
  text-indent: 50px;
  
}
  
.img-border {
  border: 1pt solid black;
}

.left-box {
  margin-right: 25pt;
}

.right-box {
  margin-left: 25pt;
}

.left-comp {
  margin-right: 0pt;
}

.right-comp {
  margin-left: 0pt;
}

.title {
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#343a40!important;
}

.subtitle {
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #343a40!important;
}

.backcolor {
  background-color:lightblue;
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.btn-space {
  margin-right: 10px;
}

.img-space {
  padding-right: 10px;
  padding-left: 10px;
  width: 118px;
  cursor: pointer;
}

.img-space2 {
  padding-right: 10px;
  width: 108px;
  cursor: pointer;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

.btn-circle-xxl {
  width: 85px;
  height: 85px;
  line-height: 85px;
  font-size: 1.3rem;
}

.label-1 {
  line-height: 88px;
}

.row-space {
  padding-top: 35px;
  padding-bottom: 15px;
}

.row-space2 {
  padding-top: 20px;
}

.img-border {
  opacity: 30%;
  border: 0px;
  
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -2.5rem; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 2.5rem; 
}
.site-footer {
  background-color: #343a40;
  position: fixed;
  width: 100%;
  color: white;
  bottom: 0;
  text-align: center;
}

/* Here we define some styles that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 995px) {

.left-box {
  margin: 10pt;
}
  
.right-box {
  margin: 10pt;
}

.left-comp {
  margin: 10pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}

.right-comp {
  margin: 10pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}

}